{% extends 'base.html' %}

{% block title %}Employees - Corporate Asset Tracking System{% endblock %}

{% block content %}
    <h2>Employees</h2>
    <div class="list-group">
        {% for employee in employees %}
            <a href="#" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ employee.name }}</h5>
                <p class="mb-1">Company: {{ employee.company.name }}</p> <!-- Add company name here -->
                <div class="btn-group" role="group" aria-label="Employee Actions">
                    <a href="{% url 'update_employee' employee.id %}" class="btn btn-primary">Update</a>
                    <form action="{% url 'delete_employee' employee.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
